*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins',sans-serif;
}

body{
    height: 100vh;
}

.main{
    height: 520px;
}


.Header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 70px;
}

.logo-image{
    height: 42px;
    width: 104px;
    margin-left: 5rem;
}

.logo-image img{
height: 100%;
width: 100%;
object-fit: contain; 
}

.nav-Items {
    margin-right: 22rem;
    margin-bottom: 0.375rem;
}
.nav-Items ul li{
    list-style: none;
    display: inline-block;
    font-size: 14px;
    color: #636262;
    font-weight: 400;
    padding: 0px 12px;
}

.nav-Items ul li span i{
    height: 10px;
    width: 10px;
}

.btn{
    margin-right: 5rem;
}

.btn button{
   padding: 6px 12px;
   color: #3A307F;
   background-color: #FFFFFF;
   border: 1px solid #8C84CC;
   border-radius: 8px;
   font-size: 14px;
   font-weight: 600;
   cursor: pointer;
}

.btn button:hover{
    background-color: #e7e5f4;
}

.Video{
    position: relative;
}

.VideoItem{
    position: absolute;
    height: 420px;
    width: 100%;
}

 .VideoItem video{
    /* object-fit: cover is used to fix the video inside particular div. */
    object-fit: cover; 
    height: 100%;
    width: 100%;
}

.h1-text{
    position: absolute;
    left: 38%;
    top: 5rem;
}

.h1-text h1{
    font-size: 48px;
    color: white;
}



.box{
    height: 136px;
    width: 940px;
    position: absolute;
    background-color: rgba(0, 0, 0, 0.4);
    left: 16%;
    top: 13rem;
    border-radius: 40px;
    backdrop-filter: blur(.4rem);
}

.btn-1{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1px;
    margin-top: 1rem;
    z-index: 2;
}

.btn-1 button{
    border: none;
    font-size: 14px;
    font-weight: 500;
    color: #707070;
    background-color: white;
    padding: 4px 8px;
    height: 32px;
    width: 137px;
}

.btn-1 .btn-1-1{
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
}


.btn-1 .btn-1-4{
    border-top-right-radius: 30px;
    border-bottom-right-radius: 30px;
}

.btn-2{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 1rem;
}

.InputText {
    position: relative;
    height: 47px;
    width: 458px;
    cursor: pointer;
}
.InputText .Icon{
    position: absolute;
    top: 11px;
    left: 10px;
    right: 10px;
    height: 15px;
    width: 15px;
    color: #707070;

}

.InputText input{
    padding: 8px 40px;
    border: none;
    height: 100%;
    width: 100%;
    border-top-left-radius: 24px;
    border-bottom-left-radius: 24px;
}
.InputText input::placeholder{
    font-size: 16px;
    color: #707070;
}

.buttons{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 47px;
    width: 28rem;
}


.buttons button{
    height: 100%;
    width: 100%;
    font-size: 16px;
    padding: 8px 10px;
    border: none;
    cursor: pointer;
    background-color: #FFFFFF;
    margin-left: 1px;
    color: #707070;
}
.buttons .buttons-search{
    background-color: #EA3934;
    color: white;
    border-top-right-radius: 24px;
    border-bottom-right-radius: 24px;
}

.container{
    height: 645px;
    margin: 41px auto;
    width: 80%;
}


.textItem-1 h2{
    font-size: 38px;
    font-weight: 700;
    color: #333333;
}

.textItem-1 p{
    font-size: 16px;
    color: #707070;
    margin-top: 1rem;
}

.textItem-2{
    display: flex;
    align-items: center;
    gap: 10px;
    margin: 2rem 0rem;
    border-bottom: 1px solid #E3E3E3;

}

.textItem-2 button{
    border: none;
    font-size: 14px;
    font-weight: 400;
    padding: 9px 24px;
    color: #707070;
    background-color: white;
    cursor: pointer;
}

.textItem-2 .rentbtn{
    color: #6459B2;
}

.ItemBox{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    /* flex-wrap: wrap means to switch to another line after touching certain width. */
    flex-wrap:wrap ;
    width: 100%;
}


.boxes{
    display: flex;
    justify-content: center;
    align-items: start;
    gap: 1rem;
    box-shadow: 0px 2px 4px rgba(0,0,0,0.05),  0px 8px 15px rgba(0,0,0,0.15);
    border-radius: 10px;
    height:180px;
    width:523px;
}



.Image{
    height: 180px;
    width: 200px;
    object-fit: cover;
}

.Image img{
    height: 100%;
    width: 100%;
} 

.boxText {
    width: 60%;
}

.boxText h3{
    font-size: 20px;
    font-weight: 600;
    color: #4C4C4C;
    padding: 17px 0px;
}

.boxText p{
    color: #535353;
    font-size: 14px;
    padding: 15px 2px;

}

.img-1{
    background-color: #eff9ff;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    padding: 0px 10px;
}

.img-2{
    background-color: #e7e5f4;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    padding: 0px 10px;
}


.img-3{
    background-color: #eff9ff;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    padding: 0px 10px;
}

.img-4{
    background-color: #fef5f5;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    padding: 10px 10px;

}

.section{
    height: 447px;
    background-color: #d1e1e0;
    background-image: linear-gradient(359deg, #e1f3f2 0%, #fffafb 100%);
}

.container-2{
display: flex;
justify-content: center;
align-items: start;
width: 100%;
gap: 11rem;
}

.leftBox{
    height: 96px;
    width: 511px;
    margin-top: 10rem;
}

.leftBox h2{
    font-size: 30px;
    font-weight: 700;
    color: #333333;
}

.leftBox p{
    font-size: 16px;
    margin-top: 8px;
    color: #707070;
}

.rightBox{
    display: flex;
    justify-content: center;
    align-items: start;
    gap: 1rem;
    margin-top: 4rem;
}

.QrCode{
    margin-top: 3rem;
    height: 200px;
    width: 172px;
    padding: 12px;
    background-color: #FFFFFF;
}

.QrCode p{
    font-size: 11.5px;
    margin: 8px 0px 0px 0px;
    height: 20px;
    width: 159px;
    color: #707070;
}

.Image-1{
    height: 148px;
    width: 148px;
    box-shadow: 1px 4px 8px rgba(0,0,0,0.05) ;
}



.Image-1 img{
    height: 100%;
    width: 100%;
    object-fit: contain;
}



.Image-2{
    height: 319px;
    width: 200px;
}


.Image-2 img{
    height: 100%;
    width: 100%;
    object-fit: contain;
}

.section-2{
    height: 80rem;
}

.container-3{
    height: 645px;
    margin: 5rem auto;
    width: 77%;
}


.textItem-3 h2{
    font-size: 38px;
    font-weight: 700;
    color: #333333;
}

.textItem-3 p{
    font-size: 16px;
    color: #707070;
    margin-top: 1rem;
}


.textItem-4{
    display: flex;
    align-items: center;
    gap: 10px;
    margin: 2rem 0rem;
    border-bottom: 1px solid #E3E3E3;

}

.textItem-4 button{
    border: none;
    font-size: 14px;
    font-weight: 400;
    padding: 9px 24px;
    color: #707070;
    background-color: white;
    cursor: pointer;
}

.textItem-4 .dubai-btn{
    color: #6459B2;
}

.buildingItems{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    flex-wrap: wrap;
    gap: 17px;
    cursor: pointer;
}

.buildingItem {
    box-shadow: 2px 2px 5px grey;
    border-radius: 10px;
}

.buildingItem:hover{
    box-shadow:1px -1px 20px 7px rgb(202, 201, 201);
}



.Shamsa-Image{
height: 206px;
width: 334px;
position: relative;
}

.Shamsa-Image img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.upcomingbox{
    position: absolute;
    bottom: 88%;
    left: 4%;
    font-size: 10px;
    font-weight: 400;
    color: white;
    background-color: rgba(2, 2, 2, 0.37);
    backdrop-filter: blur(0.4rem);
    padding: 0px 8px;
    border-radius: 5px;
}

.locationDot{
    position: absolute;
    font-size: 17px;
    border: 1px solid gray;
    color: gray;
    background-color: white;
    bottom: 5%;
    left: 89%;
    padding: 2px 8px;
    border-radius: 7px;
}

.tower-1_Details{
    width: 324px;
    height: 213px;
}

.buildingText{
    margin-bottom: 3rem;
    padding: 9px 0px 0px 9px;
}

.buildingText h2{
    font-size: 22px;
    font-weight: 500;
    color: #333333;

}

.buildingText p{
    font-size: 14px;
    color: #333333;
    font-weight: 500;
    margin: 5px 0px;
}

.buildingText p span{
    font-size: 13px;
    color: #707070;
    padding-left: 5px;
}

.tower-1_Details .address p{
    font-size: 11px;
    color: #7c7a7a;
    font-weight: 300;
    margin-top: 1rem;
    padding: 0px 0px 5px 5px;
    border-bottom: 1px solid #E3E3E3;

}
.address p span i{
    padding: 0 5px;
}
.buildingbtn{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
}
.btns{
    padding: 5px 10px;
    width: 154px;
    margin: 6px 0;
     background-color:#f7f7fc;
     border: none;
     border-radius: 7px;
     font-size: 17px;
     font-weight: 600;
     color: #3A307F;
    }
    .btns:hover{
        background-color: #f1f1f1;
    }

    .btns i{
        font-size: 17px;
        font-weight: 600;
        color: #3A307F;
        padding-right: 5px;
    }


    .AllProjectbtn{
        margin: 5rem auto;
        text-align: center;
    }

    .AllProjectbtn button{
      
    font-size: 16px;
    font-weight: 500;
    padding: 12px 12px;
    border-radius: 4px;
    border: none;
    color: #3A3074;
    cursor: pointer;
    }

    .AllProjectbtn button:hover{
        background-color: #e7e5f4;
    }