*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins",sans-serif;
}
body{
    background: url(https://media.istockphoto.com/id/2120335300/photo/heap-of-wooden-numbers-on-blue-background.webp?a=1&b=1&s=612x612&w=0&k=20&c=jOWnC-qO-zCE8Q1aJdVKj5WKPqIIznkmounjd7NLDLU=) center/cover no-repeat;
    
}

h1{
    text-align: center;
    color: white;
}
.wrapper{
    text-align: center;
    margin: 4rem auto;
    height: 410px;
    width: 450px;
    padding: 1rem 0rem;
    box-shadow: 4px 5px 20px 0px #747373;
    border-radius: 10px;
    background-color: #4F1787;
}

.wrapper input{
    margin: 1.5rem 0rem;
    border: none;
    font-size: 20px;
    padding: 4px;
    border-radius: 10px;
    text-align: center;
}

.wrapper button{
    padding: 7px 20px;
    font-weight: 700;
    color: white;
    border: none;
    border-radius: 10px;
    background-color: black;
    cursor: pointer;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.wrapper select{
    height: 25px;
    padding: 0px 1px;
    border-radius: 10px;
}