*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
li{
    list-style: none;
}
a{
    text-decoration: none;
}

body{
    height: 100vh;
}

header{
height: 70px;
width: 100%;
background-color: antiquewhite;
display: flex;
align-items: center;
justify-content: center;
}
#menu{
    width: 50%;
}

#menu ul{
    display: flex;
    align-items: center;
    justify-content: space-between;

}
 #menu ul li{
    position: relative;
 }

 #menu li a{
    color: black;
}

.subclass li a{
    display: block;
}