*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
li{
    list-style: none;
}
a{
    text-decoration: none;
}

body{
    height: 100vh;
}

header{
height: 70px;
width: 100%;
background-color: #22438c;
}
#menu{
    width: 100%;
}

/* for centering ul */
#menu .main{ 
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}


/* we have used inline block here becoz it automatically adjusts height and width and top-bottom margin and padding. */
#menu .main li{
    display: inline-block;
    position: relative;
    width: 11rem;
}

#menu li a{
    height: 70px;
    display: block;
    color: whitesmoke;
    padding: 25px;
    text-align: center;
}

.dropdown{

    background-color: black;
    position: absolute;
    z-index: 999;
    display: none;
    width: 11rem;
    height: 13.2rem;
    text-align: center;
}
.dropdown li{
    display: block;
    font-size: 16px;
    color: black;
    width: 11rem;
}

ul li a:hover{
background-color: black;
}

ul li:hover .dropdown{
    display: block;
    background-color: #22438c;
    color: black;
}