*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    height: 100vh;
}

header{
height: 70px;
width: 100%;
background-color: antiquewhite;
display: flex;
align-items: center;
justify-content: center;
}

nav{
    width: 50%;
}


nav ul{
display: flex;
align-items: center;
justify-content: space-between;
list-style: none;
}

nav ul li a{
    text-decoration: none;
}