*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Poppins",sans-serif;
}
body{
    height: 100vh;
    background-color: #dbab80;
}


.Box{
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 4rem;
   
}

input#AmtNum {
    height: 30px;
    font-size: 15px;
}

.box {
    border: 1px solid black;
    height: 30px;
    width: 11rem;
    margin: 10px;
    background-color: whitesmoke;
}

.Items input{
    margin-left: 10px;
}

.Items button{
    margin-left: 10px;
    padding: 0px 20px;
    font-size: 15px;
    font-weight: 500;
    cursor: pointer;
    height: 30px;
    color: black;
    border: none;
    border-radius: 5px;
    background-color: #3DC2EC;
}

input#items{
    height: 30px;
    font-size: 15px;
    border: 0.5px solid black;
}
input#AmtNum{
    margin-right: 10px;
    border: 0.5px solid black;
}

input#AmtSpent{
    height: 30px;
    font-size: 15px;
    border: 0.5px solid black;
}

/* arrow up-down */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.table{
    display: flex;
    align-items: center;
    justify-content: center;
}

.table th,td{
    padding: 0px 25px;
    border: 2px solid black;
    text-align: center;
    color: white;
}

h1{
    text-align: center;
    padding-top: 2rem;
}