*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Poppins",sans-serif;
}
body{
    height: 100vh;
}


.Box{
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 4rem;
   
}

input#AmtNum {
    height: 30px;
    font-size: 15px;
}

.box {
    border: 1px solid black;
    height: 30px;
    width: 11rem;
    margin: 10px;
}

.Items input{
    margin-left: 10px;
}

.Items button{
    margin-left: 10px;
    padding: 0px 20px;
    font-size: 15px;
    cursor: pointer;
    height: 30px;
}

input#items{
    height: 30px;
    font-size: 15px;
}
input#AmtNum{
    margin-right: 10px;
}

input#AmtSpent{
    height: 30px;
    font-size: 15px;
}

/* arrow up-down */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.table{
    display: flex;
    align-items: center;
    justify-content: center;
}

.table th{
    padding: 0px 25px;
}