*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins",sans-serif;

}
body{
    background-color:skyblue;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.container {
    background-color: #e7dddd;
    height: 300px;
    width: 239px;
    border-radius: 10px;
    position: relative;
    overflow: hidden;
}

.image{
    text-align: center;
    width: 239px;
    height: 230px;
}

.image img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}   

.footer{
    position: absolute;
    top: 80%;
    background-color: white;
    transition: all 400ms;
}

.container:hover .footer{
    top: 30%;
}


.brandItem{
display: flex;
width: 100%;
justify-content: space-between;
padding: 0px 12px;
margin: 7px 0px;

}

.brandName span{
    font-size: 14px;
    color: grey;
}

.brandName h2,h3{
    font-size: 17px;
}


.brandItem h3 i{
    font-size: 15px;
    padding-right: 4px;
}

.colorList{
    display: flex;
}

.color_box{
    width: 25px;
    height: 25px;
    margin: 1px;
}
.cartbox{
    text-align: center;
    margin: 6px 0px;
}
.cartbox button {
    padding: 5px 70px;
    border: none;
    border-radius: 5px;
    background-color: black;
    color: white;
    font-size: 13px;
    cursor: pointer;
}
.item{
    padding: 0px 12px;
    margin: 7px 0px;
}
