
#container{
    height: 100vh;
    position: relative;
    cursor: pointer;
}



.dot {
    position: absolute;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    pointer-events: none;
    cursor: pointer;
  }

  button{
    cursor: pointer;
  }